.vcard(
  itemscope
  itemtype="http://schema.org/Organization"
)
  .org(itemprop="name") Organization Name
  a.email(
    href="mailto:@"
    itemprop="email"
  ) organization at gmail.com
  address(
    itemprop="address"
    itemscope
    itemtype="http://schema.org/PostalAddress"
  )
    .street-address(itemprop="streetAddress") 82 West Pegasus St.
    .street-address-details
      span.locality(itemprop="addressLocality") Washington,&nbsp;
      span.region(itemprop="addressRegion") MA&nbsp;
      span.postal-code(itemprop="postalCode") 480124
  .tel(itemprop="telephone") 428-242-2020
