nav.main-nav
  ol.main-nav-group
    each link in siteLinks.mainNav
      li.main-nav-item
        a.main-nav-link(
          href=link.href
          itemprop="url"
        )= link.name
        if link.children
          ol.main-nav-children
            each child in link.children
              li.main-nav-child-item
                a.main-nav-child-link(
                  href=child.href
                  itemprop="url"
                )
                  span.main-nav-child-link-label= child.name
