//- ================
//- Site Template
//- ================

block theme
  - var themeName = ""

doctype html
html(
  dir="ltr"
  lang="en-US"
  class=themeName
)
  include ../regions/head.pug
  include ../mixins/symbol.pug
  include ../mixins/section.pug
  body
    a(
      class="visible-for-screen-readers"
      href="#site-main"
    ) Skip to main content
    figure.site-sprite(style="display: none;")
      include ../../../dist/svg/sprite.symbol.svg
    include ../regions/header.pug
    main.site-main#site-main(role="main")
      block main
    include ../regions/footer.pug
