//- ================
//- Head Section
//- ================

block description
  - var description = ""
  
block author
  - var author = ""
  
head
  meta(charset="utf-8") 
  title Mimo Gear
  meta(
    name="description"
    content="#{description}"
  )
  meta(
    name="author"
    content="#{author}"
  )
  meta(
    http-equiv="X-UA-Compatible"
    content="IE=edge"
  )
  meta(
    name="viewport"
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
  )
  link(
    rel="stylesheet"
    href="dist/css/site.css"
  )
  block additional-stylesheets
