//- ================
//- Head Section
//- ================

head
  title Mimo Gear
  meta(
    content=""
    name="description"
  )
  meta(
    content="IE=edge"
    http-equiv="X-UA-Compatible"
  )
  meta(
    charset="utf-8"
    content="text/html"
    http-equiv="content-type"
  )
  meta(
    content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    name="viewport"
  )
  link(
    href="dist/css/site.css"
    rel="stylesheet"
  )
