block title
  - var title = siteTitle

block description
  - var description = siteDescription

head
  meta(
    http-equiv="X-UA-Compatible"
    content="IE=edge"
  )
  meta(charset="utf-8")
  meta(
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  )
  title= title
  meta(
    name="description"
    content= description
  )

  //- ================
  //- Recommended Sizes
  //-   16, 32, 48, 62
  //- http://realfavicongenerator.net/
  //- ================

  mixin favicon(size)
    link(
      rel="icon"
      href="favicon-" + size + ".png"
      sizes=size + "x" + size
      type="image/png"
    )

  link(
    rel="stylesheet"
    href=base + "css/site" + deployMin + ".css"
  )
  block additional-stylesheets
