//- ================
//- Head Section
//-   http://realfavicongenerator.net/
//- ================

block title
  - var title = siteTitle

block description
  - var description = siteDescription

head
  meta(
    http-equiv="X-UA-Compatible"
    content="IE=edge"
  )
  meta(charset="utf-8")
  meta(
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  )
  title= title
  meta(
    name="description"
    content= description
  )

  mixin favicon(size)
    link(
      rel="icon"
      href="favicon-" + size + ".png"
      sizes=size + "x" + size
      type="image/png"
    )

  +favicon(16)
  +favicon(32)
  +favicon(48)
  +favicon(62)

  link(
    rel="stylesheet"
    href="./dist/css/site.css"
  )
  block additional-stylesheets
