//- ================
//- Nav Social Block
//- ================

ol
  li
    a(
      href="facebook.com"
      itemprop="url"
      target="_blank"
    )
      span.visible-for-screen-readers Facebook
  li
    a(
      href="twitter.com"
      itemprop="url"
      target="_blank"
    )
      span.visible-for-screen-readers Twitter
  li
    a(
      href="instgram.com"
      itemprop="url"
      target="_blank"
    )
      span.visible-for-screen-readers Instagram
  li
    a(
      href="youtube.com"
      itemprop="url"
      target="_blank"
    )
      span.visible-for-screen-readers Youtube
