//- ================
//- Site Template
//- ================

block themeSelection
  - var theme = ""

doctype html
html(
  dir="ltr",
  lang="en-US",
  class="#{theme}"
)
  include ../regions/head.jade
  include ../mixins/symbol.jade
  body
    a(
      class="visible-for-screen-readers",
      href="#site-main"
    ) Skip to main content
    figure.site-sprite(style="display: none;")
      include ../../../dist/svg/sprite.symbol.svg
    include ../regions/header.jade
    main.site-main#site-main(role="main")
      block main
    include ../regions/footer.jade
