//- ================
//- SVG Symbol Inclusion
//- ================

mixin symbol(name, modifier)
  if modifier
    svg(class="symbol symbol-#{name} symbol-#{name}-#{modifier}")
      use(xlink:href="##{name}")
  else
    svg(class="symbol symbol-#{name}")
      use(xlink:href="##{name}")
