//- ================
//- Image Mixin
//- ================

mixin image(file, alt, className)
  if className
    img(
      src=base + "images/" + file
      alt=alt
      class=className
    )
  else
    img(
      src=base + "images/" + file
      alt=alt
    )
