extends ../template.pug

mixin gear-outlined-symbol(className)
  <svg class="symbol symbol-gear #{className}" viewBox="0 0 24 24">
  <title>cog-outline</title>
  <path class="path1" d="M13 5l0.855 3.42 3.389-0.971 1.501 2.6-2.535 2.449 2.535 2.451-1.5 2.6-3.39-0.971-0.855 3.422h-3l-0.855-3.422-3.39 0.971-1.501-2.6 2.535-2.451-2.534-2.449 1.5-2.6 3.39 0.971 0.855-3.42h3zM13 3h-3c-0.918 0-1.718 0.625-1.939 1.516l-0.354 1.412-1.4-0.4c-0.184-0.053-0.369-0.078-0.552-0.078-0.7 0-1.368 0.37-1.731 1l-1.5 2.6c-0.459 0.796-0.317 1.802 0.342 2.438l1.047 1.011-1.048 1.015c-0.66 0.637-0.802 1.643-0.343 2.438l1.502 2.6c0.363 0.631 1.031 1 1.731 1 0.183 0 0.368-0.025 0.552-0.076l1.399-0.401 0.354 1.415c0.222 0.885 1.022 1.51 1.94 1.51h3c0.918 0 1.718-0.625 1.939-1.516l0.354-1.414 1.399 0.4c0.184 0.053 0.369 0.077 0.552 0.077 0.7 0 1.368-0.37 1.731-1l1.5-2.6c0.459-0.796 0.317-1.8-0.342-2.438l-1.047-1.013 1.047-1.013c0.66-0.637 0.801-1.644 0.342-2.438l-1.5-2.6c-0.365-0.631-1.031-1-1.732-1-0.184 0-0.368 0.025-0.551 0.076l-1.4 0.401-0.354-1.413c-0.22-0.884-1.020-1.509-1.938-1.509z"></path>
  <path class="path2" d="M11.5 10.5c1.104 0 2 0.895 2 2s-0.896 2-2 2-2-0.896-2-2c0-1.105 0.896-2 2-2zM11.5 9.5c-1.654 0-3 1.346-3 3s1.346 3 3 3 3-1.346 3-3-1.346-3-3-3z"></path>
  </svg>

mixin gear-filled-symbol(className)
  <svg class="symbol symbol-gear #{className}" viewBox="0 0 24 24">
  <title>cog</title>
  <path class="path1" d="M9.387 17.548l0.371 1.482c0.133 0.533 0.692 0.97 1.242 0.97h1c0.55 0 1.109-0.437 1.242-0.97l0.371-1.482c0.133-0.533 0.675-0.846 1.203-0.694l1.467 0.42c0.529 0.151 1.188-0.114 1.462-0.591l0.5-0.867c0.274-0.477 0.177-1.179-0.219-1.562l-1.098-1.061c-0.396-0.383-0.396-1.008 0.001-1.39l1.096-1.061c0.396-0.382 0.494-1.084 0.22-1.561l-0.501-0.867c-0.275-0.477-0.933-0.742-1.461-0.591l-1.467 0.42c-0.529 0.151-1.070-0.161-1.204-0.694l-0.37-1.48c-0.133-0.532-0.692-0.969-1.242-0.969h-1c-0.55 0-1.109 0.437-1.242 0.97l-0.37 1.48c-0.134 0.533-0.675 0.846-1.204 0.695l-1.467-0.42c-0.529-0.152-1.188 0.114-1.462 0.59l-0.5 0.867c-0.274 0.477-0.177 1.179 0.22 1.562l1.096 1.059c0.395 0.383 0.395 1.008 0 1.391l-1.098 1.061c-0.395 0.383-0.494 1.085-0.219 1.562l0.501 0.867c0.274 0.477 0.933 0.742 1.462 0.591l1.467-0.42c0.528-0.153 1.070 0.16 1.203 0.693zM11.5 10.5c1.104 0 2 0.895 2 2s-0.896 2-2 2-2-0.896-2-2c0-1.105 0.896-2 2-2z"></path>
  </svg>

mixin github-symbol(className)
  <svg class="symbol symbol-github #{className}" viewBox="0 0 32 32">
  <title>github</title>
  <path class="path1" d="M16 0.395c-8.836 0-16 7.163-16 16 0 7.069 4.585 13.067 10.942 15.182 0.8 0.148 1.094-0.347 1.094-0.77 0-0.381-0.015-1.642-0.022-2.979-4.452 0.968-5.391-1.888-5.391-1.888-0.728-1.849-1.776-2.341-1.776-2.341-1.452-0.993 0.11-0.973 0.11-0.973 1.606 0.113 2.452 1.649 2.452 1.649 1.427 2.446 3.743 1.739 4.656 1.33 0.143-1.034 0.558-1.74 1.016-2.14-3.554-0.404-7.29-1.777-7.29-7.907 0-1.747 0.625-3.174 1.649-4.295-0.166-0.403-0.714-2.030 0.155-4.234 0 0 1.344-0.43 4.401 1.64 1.276-0.355 2.645-0.532 4.005-0.539 1.359 0.006 2.729 0.184 4.008 0.539 3.054-2.070 4.395-1.64 4.395-1.64 0.871 2.204 0.323 3.831 0.157 4.234 1.026 1.12 1.647 2.548 1.647 4.295 0 6.145-3.743 7.498-7.306 7.895 0.574 0.497 1.085 1.47 1.085 2.963 0 2.141-0.019 3.864-0.019 4.391 0 0.426 0.288 0.925 1.099 0.768 6.354-2.118 10.933-8.113 10.933-15.18 0-8.837-7.164-16-16-16z"></path>
  </svg>

mixin repo-symbol(className)
  <svg class="symbol symbol-repo-forked #{className}" viewBox="0 0 24 32">
  <title>repo-forked</title>
  <path class="path1" d="M24 4c0-2.219-1.781-4-4-4s-4 1.781-4 4c0 1.469 0.813 2.781 2 3.469v3.313l-6 6.625-6-6.625v-3.313c1.188-0.688 2-1.969 2-3.469 0-2.219-1.781-4-4-4s-4 1.781-4 4c0 1.469 0.813 2.781 2 3.469v4.875l8 8.813v3.406c-1.188 0.688-2 1.969-2 3.469 0 2.219 1.781 4 4 4s4-1.781 4-4c0-1.469-0.813-2.781-2-3.469v-3.406l8-8.813v-4.875c1.188-0.688 2-1.969 2-3.469zM4 2.031c1.063 0 1.938 0.875 1.938 1.938s-0.875 1.938-1.938 1.938-1.938-0.875-1.938-1.938 0.875-1.938 1.938-1.938zM12 29.875c-1.063 0-1.938-0.875-1.938-1.938s0.875-1.938 1.938-1.938 1.938 0.875 1.938 1.938-0.875 1.938-1.938 1.938zM20 2.031c1.063 0 1.938 0.875 1.938 1.938s-0.875 1.938-1.938 1.938-1.938-0.875-1.938-1.938 0.875-1.938 1.938-1.938z"></path>
  </svg>

mixin star-symbol(className)
  <svg class="symbol symbol-star #{className}" viewBox="0 0 26 28">
  <title>star</title>
  <path class="path1" d="M26 10.109c0 0.281-0.203 0.547-0.406 0.75l-5.672 5.531 1.344 7.812c0.016 0.109 0.016 0.203 0.016 0.313 0 0.406-0.187 0.781-0.641 0.781-0.219 0-0.438-0.078-0.625-0.187l-7.016-3.687-7.016 3.687c-0.203 0.109-0.406 0.187-0.625 0.187-0.453 0-0.656-0.375-0.656-0.781 0-0.109 0.016-0.203 0.031-0.313l1.344-7.812-5.688-5.531c-0.187-0.203-0.391-0.469-0.391-0.75 0-0.469 0.484-0.656 0.875-0.719l7.844-1.141 3.516-7.109c0.141-0.297 0.406-0.641 0.766-0.641s0.625 0.344 0.766 0.641l3.516 7.109 7.844 1.141c0.375 0.063 0.875 0.25 0.875 0.719z"></path>
  </svg>

mixin docs-symbol(className)
  <svg class="symbol symbol-docs #{className}" viewBox="0 0 24 24">
  <title>docs</title>
  <path class="path1" d="M17.016 9v-2.016h-10.031v2.016h10.031zM17.016 12.984v-1.969h-10.031v1.969h10.031zM14.016 17.016v-2.016h-7.031v2.016h7.031zM12 3c-0.563 0-0.984 0.422-0.984 0.984s0.422 1.031 0.984 1.031 0.984-0.469 0.984-1.031-0.422-0.984-0.984-0.984zM18.984 3c1.078 0 2.016 0.938 2.016 2.016v13.969c0 1.078-0.938 2.016-2.016 2.016h-13.969c-1.078 0-2.016-0.938-2.016-2.016v-13.969c0-1.078 0.938-2.016 2.016-2.016h4.172c0.422-1.172 1.5-2.016 2.813-2.016s2.391 0.844 2.813 2.016h4.172z"></path>
  </svg>

block theme
  - themeName = "mimo-theme"

block additional-stylesheets
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,700" rel="stylesheet">

block append header
  .actions
    a.action-link(
      href="https://github.com/mimoduo/mimogear"
      target="_blank"
    )
      span.action-link-label Github
      +github-symbol("action-link-symbol")
    a.action-link(
      href="https://github.com/mimoduo/mimogear/fork"
      target="_blank"
    )
      span.action-link-label Fork
      +repo-symbol("action-link-symbol")
    a.action-link(
      href="https://github.com/mimoduo/mimogear/stargazers"
      target="_blank"
    )
      span.action-link-label Star
      +star-symbol("action-link-symbol")
    a.action-link(
      href="https://github.com/mimoduo/mimogear/tree/master/docs"
      target="_blank"
    )
      span.action-link-label Docs
      +docs-symbol("action-link-symbol")

block content
  +section("intro")
    .site-flag
      .site-lace
      .site-flare
      .site-lace
    h1.site-name
      a.site-link(
        href="https://github.com/mimoduo/mimogear"
        target="_blank"
      ) Mimogear
    h2.lead
      span Static Site Generator
    p.summary #[strong #[span.summary-name Mimogear] compiles, distributes, watches, & deploys] a #[a.summary-link(href="https://pugjs.org/api/getting-started.html" target="_blank") pug] template boilerplate, a #[a.summary-link(href="http://postcss.org/" target="_blank") postcss] skeleton stylesheet, and a javascript module bundle with #[a.summary-link(href="http://gulpjs.com/" target="_blank") gulp] & #[a.summary-link(href="https://travis-ci.org/" target="_blank") travis ci].
    a.call-to-action(
      href="https://github.com/mimoduo/mimogear"
      target="_blank"
    )
      +gear-filled-symbol("call-to-action-symbol")
      +gear-outlined-symbol("call-to-action-symbol")
      span.call-to-action-bubble
        +github-symbol("call-to-action-symbol-github")
        span.call-to-action-label View on Github
      +gear-outlined-symbol("call-to-action-symbol")
      +gear-filled-symbol("call-to-action-symbol")
    .terminal
      .terminal-pillow
        h3.terminal-title Whip out a terminal and tryout Mimogear:
        .code-pillow
          code.code
            | $ git #[em clone] https://github.com/mimoduo/mimogear.git#[br]
            | $ #[em cd] Mimogear#[br]
            | $ npm install#[br]
            | $ npm install gulp-cli -g#[br]
            | $ gulp

block footer

block additional-scripts
  | <script>
  | (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  | (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  | m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  | })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  | ga('create', 'UA-66664949-1', 'auto');
  | ga('send', 'pageview');
  | </script>
