//- ================
//- Nav Main Block
//- ================

ol
  li
    a(
      href="/",
      itemprop="url"
    ) About
  li
    a(
      href="/",
      itemprop="url"
    ) Team
  li
    a(
      href="/",
      itemprop="url"
    ) Ideas
  li
    a(
      href="/",
      itemprop="url"
    ) Contact
